# Ignore temporary files
*.tmp
*.swp
*.bak
*.pid
*.seed
*.backup
.terraform/
notas.txt

terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Ignore package-lock.json
package-lock.json

# Ignore large terraform provider file
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.74.0/linux_amd64/terraform-provider-azurerm_v3.74.0_x5

terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.74.0/linux_amd64/terraform-provider-azurerm_v3.74.0_x5